  body {
  background-color: gray;
  color: white;
  }

  .headerButton {
  margin: 20px;
  color: blue;
  background-color: yellow;
  }

  .head {
  position: absolute;
  float: left;
  height: 100%;
  width: 125px;
  background-color: black;
  }

  .center {
  width: 50%;
  position: absolute;
  margin-left: 150px;
  }

  .neutral {
  height: 50px;
  width: 50px;
  }

  .Xbox {
  background-color: red;
  height: 50px;
  width: 50px;
  }

  .Obox {
  background-color: blue;
  height: 50px;
  width: 50px;
  }

  .isWinner {
  color: gray;
  }
